/Data Cleaning
/Data Integration
/Data Splitting
/Feature Engineering
/Feature Extraction
/Models & Parameters
/Models & Parameters Backup
/Others
/Previous Tests
/FlaskModel
/Data Analysis
/Data Preprocessing
/__pycache__
/config.json
/Single Evaluation/ensemble_model_fold_1.pkl
.venv
.DS_Store
/Noise Injection
*.pkl
*.csv
!ceas_08.csv
*.eml
*.npz
/Backup
/SingleEvaluation/__pycache__
/email_generator.py
/shap_analysis.py
